name: "Publish Connectors"

# on: [push]
on:
  release:
    types: [published]

jobs:
  publish-connectors:
    uses: ./.github/workflows/template-publish-npm-package.yaml
    with:
      packageDir: ./packages/connectors
      packageScope: "@flethy/connectors"
    secrets:
      npm_token: ${{ secrets.NPM_TOKEN }}
